<div class="card mt-5">
  <div class="card-body mt-3">
    <h6 class="text-center text-secondary"> Formulario Agregar clientes </h6>
    <form class="mt-4" #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">
      <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="productService.selectedProduct.$key">
      <div class="from-group">
        <input
          type="text"
          class="form-control"
          name="name"
          #name="ngModel"
          [(ngModel)]="productService.selectedProduct.name"
          placeholder="Ingresa el nombre del cliente"
        >
      </div>
      <div class="from-group">
          <input
            type="text"
            class="form-control"
            name="lastname"
            #lastname="ngModel"
            [(ngModel)]="productService.selectedProduct.lastname"
            placeholder="Ingresa el apellido del cliente"
          >
      </div>
      <div class="from-group">
          <input
            type="number"
            class="form-control"
            min="1" 
            max="100"
            name="age"
            #age="ngModel"
            [(ngModel)]="productService.selectedProduct.age"
            placeholder="Ingresa la edad del cliente"
          >
      </div>
      <div class="from-group">
          <input
            type="date"
            class="form-control"
            name="birth"
            #birth="ngModel"
            [(ngModel)]="productService.selectedProduct.birth"
            placeholder="Ingresa Fecha de Nacimiento"
          >
      </div>
      <br>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">
          <i class="fas fa-plus-circle"> </i> Agregar / Modificar
        </button>

        <button class="btn btn-secondary ml-5" type="reset" (click)="resetForm(productForm)">
            <i class="fas fa-sync-alt"> </i> Limpiar datos
        </button>
      </div>


    </form>
  </div>
</div>